* {
    margin: 0;
    padding: 0;
}

$btn-color: #f1d6ab;
$btn-shadow: 1px 2px 5px #b4b4b4;
$btn-color-hover: #ffc655;
$primary-bg-color: #f1d6ab;

body {
    background: #f9f6f7;
    width: 100%;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif, Helvetica;
}
button:focus {
    outline: none;
}

// header 
.header {
    width: 100%;
    background: $primary-bg-color;    
    h1 {
        text-align: center;
        font-size: 25px;
        padding: 2rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        h1 {
            font-size: 21px;
            padding: 2rem;
        }
    }
    
}

.container {
    width: 100%;
    display: flex;
    margin: 3.6rem auto;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
}

// cat and dog items
.cats, .dogs {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100%;
    }
    h2 {
        margin: 1rem;
    }
    button {
        border-radius: 3px;
        padding: 10px;
        width: 50%;
        background: $btn-color;
        border: none;
        margin: 1rem;
        box-shadow: $btn-shadow;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        &:hover {
            transform: scale(1.02);
            background: $btn-color-hover;
        }
    }
}
.dog-img {
    transform: rotateY(180deg);
}

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem auto;
    }
    .cats, .dogs {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 1.5rem;
        img {
            width: 70%;
        }
    }
}

// secret hate modal
.hate-both {
    transform: scale(0.5);
    color: #f9f6f7;
    button {
        color: #f9f6f7;
        background: #f9f6f7;
        border: none;
        padding: 10px 20px;
        display: inline-block;
        position: relative;
        bottom: 3rem;
        left: 50%;
        border-radius: 3px;
        &:hover {
            background: $btn-color-hover;   
            color: #000;
            box-shadow: $btn-shadow;
            cursor: pointer;
        }
    }
}
.hate-text:hover {
    color: #000;
}
.secret-text {
    font-size: 10px;
    left: 50%;
    top: 3rem;
    position: relative;
    display: inline-block;
    color: #f9f6f7;
    &:hover {
        color: #000;
    }
}

// modal popup
.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: ease 0.2s;
    z-index: 2;
}
.hate-modal {
    width: 20%;
    height: 10%;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.is-visible {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 480px) {
    .hate-modal {
        width: 70%;
    }
}

// footer
footer {
    display: flex;
    justify-content: center;
    background: $primary-bg-color;
    p {
        font-size: 10px;
        padding: 0.5rem;
    }
    a {
        text-decoration: none;
        border-bottom: 2px solid $btn-color-hover;
        color: #000; 
    }
}

// Animation for reaching milestones
.votes-10 {
    background: red;
}
.votes-50 {
    background: yellow;
}
.votes-100 {
    background: yellow;
}

@keyframes votes-10 {
    from {

    }
    to {

    }
}