* {
    margin: 0;
    padding: 0;

}

body {
    background: #fffaec;
    font-family: sans-serif;
}

/* header */
.header {
    height: 20%;
    width: 100%;
    padding-top: 5rem;
}
.header h1 {
    text-align: center;
    position: relative;
    font-size: 28px;
    font-family: sans-serif;
}

/* content container */
.container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/* cat and dog items */
.cats, .dogs {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cats img, .dogs img {
    width: 100%;
}
h2 {
    margin: 1rem;
}
button {
    border-radius: 3px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
    background: #ecf1ff;
    border: none;
    margin: 1rem;
    box-shadow: 1px 2px 5px #b4b4b4;
    cursor: pointer;
    font-size: 14px;
}
button:hover {
    transform: scale(1.02);
}

/* hate both section 

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hate-modal {
    visibility: hidden;
    width: 40%;
    height: 40%;
    background: #fff;
    text-align: center;
    
}
.modal-open {
    visibility: visible;
}
*/
.hate-both {
    transform: scale(0.5);
    color: #fffaec;
}
.hate-button {
    color: #fffaec;
    background: #fffaec;
    box-shadow: none;
}
.hate-text:hover {
    color: #000;
}
.hate-button:hover {
    background: #ecf1ff;   
    box-shadow: 1px 2px 5px #b4b4b4;
    color: #000;
}
.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}
.hate-modal {
    width: 20%;
    height: 10%;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.is-visible {
    visibility: visible;
    opacity: 1;
}